*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
footer{
    background-color: black
    color(srgb rgb(255, 255, 255) rgb(255, 255, 255) rgb(255, 255, 255));
    text-align: center;
    padding: 20px 0;
}

.footer-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}