*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    font-family: arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
    background:#252626;;
    color:white;
    text-align: left;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer p{
    font-size: 14px;
    color: #b3b3b3;
    margin: 0;
}
.social-icons{
    display: flex;
    gap: 20px;
}
.social-icons a img{
    width: 40px;
    height: 40px;
    padding: 5px;
    border: 2px solid white;
    border-radius: 5px;
    transition: 0.3s ease;
}
.social-icons a img:hover{
    transform: scale(1.1);
}